<span style="color:orange">
 <h2> Databircks-Assignemnt 1 (Basic Common Transformation)
</span>

In [0]:
from pyspark.sql.functions import *

In [0]:
df = spark.read.csv("dbfs:/FileStore/shared_uploads/aakashpavale8877@gmail.com/EmployeeData_HhTLiz9LdC_2JpHdxGvrY.csv", header = True, inferSchema = True, sep = ',')
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- creationDate: timestamp (nullable = true)
 |-- bonus: double (nullable = true)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    null|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    null|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    null|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    null|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    null|
| 10|      null|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    null|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    null|
| 18|      null|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

<b>How many employees are in the input file?

In [0]:
# Write your code using the Spark Function
no_of_employees = df.select(countDistinct('id').alias('unique employee count'))
no_of_employees.show()

+---------------------+
|unique employee count|
+---------------------+
|                  970|
+---------------------+

<b> What is the average salary of all the employees?

In [0]:
# Write your code using the Spark Function
avg_salary = df.select(avg('salary').alias('average salary'))
avg_salary.show()

+------------------+
|    average salary|
+------------------+
|100011.38125665602|
+------------------+

<b> How many male and female employees are there in the input file?

In [0]:
# Write your code using the Spark Function
df.filter(df.gender != 'null').groupBy('gender').agg(countDistinct('id').alias("Count")).show()

+------+-----+
|gender|Count|
+------+-----+
|Female|  490|
|  Male|  452|
+------+-----+

<b> Who is the employee with the highest salary?

In [0]:
# Write your code using the Spark Function
highest_salary = df.orderBy(desc('salary')).select('id', 'first_name', 'last_name', 'email', 'gender', 'salary', 'creationDate', 'bonus').limit(1)
highest_salary.show()

+---+----------+---------+--------------------+------+------+-------------------+-------+
| id|first_name|last_name|               email|gender|salary|       creationDate|  bonus|
+---+----------+---------+--------------------+------+------+-------------------+-------+
|976|   Alfonso|Hanbridge|ahanbridger3@webs...|  Male|199846|2023-03-22 00:49:36|6248.58|
+---+----------+---------+--------------------+------+------+-------------------+-------+

<b> What is the total bonus amount paid to all the employees?

In [0]:
# Write your code using the Spark Function
total_bonus = df.select(sum('bonus').alias('total_bonus'))
total_bonus.show()

+--------------------+
|         total_bonus|
+--------------------+
|4.2504812300000034E7|
+--------------------+

d
<b> How many employees were hired in the year 2020?

In [0]:
# Write your code using the Spark Function
emp_2020 = df.filter(year('creationDate') == 2020).select('id','first_name','last_name',year('creationDate'))
emp_2020.show()

+---+----------+---------+------------------+
| id|first_name|last_name|year(creationDate)|
+---+----------+---------+------------------+
|  9|   Sibylla|Sickamore|              2020|
| 58|     Leigh|     null|              2020|
|174|   Arleyne|    Chant|              2020|
|328|      Ange|     null|              2020|
|372|     Elsey|  Gossage|              2020|
|389|   Frasier|  Yurikov|              2020|
|472|    Stormy|    Losty|              2020|
+---+----------+---------+------------------+

d
<b> Who are the top 5 employees with the highest salaries?

In [0]:
# Write your code using the Spark Function
highest_salary_top_5 = df.orderBy(desc('salary')).select('id', 'first_name', 'last_name', 'email', 'gender', 'salary', 'creationDate', 'bonus').limit(5)
highest_salary_top_5.show()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|976|   Alfonso|Hanbridge|ahanbridger3@webs...|  Male|199846|2023-03-22 00:49:36| 6248.58|
| 52|    Dermot|Letchford|dletchford1f@auda...|  Male|199484|1902-05-28 14:22:21|19573.02|
|849|    Jennee|Ballingal|jballingalnk@priv...|Female|198873|               null|10658.73|
|753|  Griswold|   Kocher|gkocherkw@cornell...|  Male|198688|1934-10-09 19:59:30|    null|
|715|   Baryram|  Whitham|bwhithamju@alexa.com|  Male|198672|1935-11-26 15:18:39|16299.88|
+---+----------+---------+--------------------+------+------+-------------------+--------+

d
<b> What is the total salary paid to all male employees?

In [0]:
# Write your code using the Spark Function
total_sal_male = df.filter("gender = 'Male'").select(sum('salary'))
total_sal_male.show()

+-----------+
|sum(salary)|
+-----------+
|   44253777|
+-----------+

d
<b> Who is the employee with the highest bonus amount?

In [0]:
# Write your code using the Spark Function# Write your code using the Spark Function
highest_bonus = df.orderBy(desc('bonus')).select('id', 'first_name', 'last_name','bonus').limit(1)
highest_bonus.show()

+---+----------+---------+--------+
| id|first_name|last_name|   bonus|
+---+----------+---------+--------+
|915|    Franni| Chessell|99993.16|
+---+----------+---------+--------+

d
<b> What is the earliest creation date of any employee in the input file?

In [0]:
# Write your code using the Spark Function
ear_creation_date = df.orderBy(asc_nulls_last('creationDate')).select('creationDate').limit(1)
ear_creation_date.show()

+-------------------+
|       creationDate|
+-------------------+
|1900-07-08 06:23:29|
+-------------------+

d
<b> How many employees have a salary greater than 100,000?

In [0]:
# Write your code using the Spark Function
sal = df.filter(df.salary > 100000).select(countDistinct('id').alias('Salarygreaterthan100000'))
sal.show()

+-----------------------+
|Salarygreaterthan100000|
+-----------------------+
|                    468|
+-----------------------+

d
<b> Who is the female employee with the highest salary?

In [0]:
# Write your code using the Spark Function
female_highest_salary = df.filter(df.gender == 'Female').orderBy(desc('salary')).select('id', 'first_name', 'last_name','salary').limit(1)
female_highest_salary.show()

+---+----------+---------+------+
| id|first_name|last_name|salary|
+---+----------+---------+------+
|849|    Jennee|Ballingal|198873|
+---+----------+---------+------+

d
<b> What is the total bonus amount paid to female employees?

In [0]:
# Write your code using the Spark Function
total_bonus_Female = df.filter("gender = 'Female'").select(sum('bonus').alias('Total bonus paid to Female Employee'))
total_bonus_Female.show()

+-----------------------------------+
|Total bonus paid to Female Employee|
+-----------------------------------+
|                      2.132315359E7|
+-----------------------------------+

d
<b> How many employees have a salary between 50,000 and 75,000?

In [0]:
# Write your code using the Spark Function
sal_between = df.filter("salary >= 50000 and salary <= 75000").select(countDistinct('id').alias('Salary between 50000 and 75000'))
sal_between.show()

+------------------------------+
|Salary between 50000 and 75000|
+------------------------------+
|                           111|
+------------------------------+

d
<b> Who are the top 10 employees with the highest bonuses?

In [0]:
# Write your code using the Spark Function
Top_highest_bonus= df.orderBy(desc('bonus')).select('id', 'first_name', 'last_name','bonus').limit(10)
Top_highest_bonus.show()

+---+----------+----------+--------+
| id|first_name| last_name|   bonus|
+---+----------+----------+--------+
|915|    Franni|  Chessell|99993.16|
|830|     Asher|     Dupoy|99985.66|
|199|    Lovell|    Ingall|99932.43|
|537|  Sullivan|    Gyenes| 99845.6|
|653|    Jessie|     Grgic|99650.89|
|896|     Nicol|    Bruton|99581.27|
|819|     Nonah|  Tompkiss|99046.27|
|382|      Andy|     Morch|99033.16|
|160|      Swen|Hinrichsen|98721.92|
|635|   Dorotea|     Kynan|98639.27|
+---+----------+----------+--------+

d
<b> What is the latest creation date of any employee in the input file?

In [0]:
# Write your code using the Spark Function
latest_date = df.agg(max('creationDate'))
latest_date.show()

+-------------------+
|  max(creationDate)|
+-------------------+
|2023-03-24 14:50:38|
+-------------------+

d
<b> How many employees have a salary less than 50,000?

In [0]:
# Write your code using the Spark Function
sal_less = df.filter(df.salary < 50000).select(countDistinct('id').alias('countofEmployeeSalaryLessthan50000'))
sal_less.show()

+----------------------------------+
|countofEmployeeSalaryLessthan50000|
+----------------------------------+
|                               228|
+----------------------------------+

d
<b> Who are the top 3 employees with the lowest salaries?

In [0]:
# Write your code using the Spark Function
lowest_sal = df.orderBy(asc_nulls_last('salary')).select('id', 'first_name', 'last_name','salary').limit(3)
lowest_sal.show()

+---+----------+----------+------+
| id|first_name| last_name|salary|
+---+----------+----------+------+
|809|  Hercules|Pollington|   109|
|381|     Olwen| O'Scanlon|   184|
|542| Heriberto|      null|   479|
+---+----------+----------+------+

d
<b> What is the average bonus amount paid to all employees?

In [0]:
# Write your code using the Spark Function
avg_bonus = df.agg(avg('bonus').alias('avgBonuspaidtoEmployees'))
avg_bonus.show()

+-----------------------+
|avgBonuspaidtoEmployees|
+-----------------------+
|      50965.00275779381|
+-----------------------+

d
<b> How many employees have a bonus greater than their salary?

In [0]:
# Write your code using the Spark Function
bonus_gr_sal = df.filter(df.bonus > df.salary).select(countDistinct('id').alias('EmplyeeshavingbonusgreaterthanSalary'))
bonus_gr_sal.show()

+------------------------------------+
|EmplyeeshavingbonusgreaterthanSalary|
+------------------------------------+
|                                 187|
+------------------------------------+