<span style="color:orange">
 <h2> Databircks-Assignemnt 4: Advance String Manupulation Transformation)
</span>

In [0]:
from pyspark.sql.functions import *

In [0]:
df = spark.read.csv("dbfs:/FileStore/shared_uploads/aakashpavale8877@gmail.com/EmployeeData_HhTLiz9LdC_2JpHdxGvrY-1.csv", header=True, inferSchema=True, sep =',')
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- creationDate: timestamp (nullable = true)
 |-- bonus: double (nullable = true)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    null|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    null|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    null|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    null|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    null|
| 10|      null|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    null|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    null|
| 18|      null|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

<b> What is the abbreviated version of each employee's last name, with the first letter and the two following letters included?

In [0]:
# Write your code using the Spark Function
abr_last_name = df.select(col("last_name").substr(1,3).alias('abr last name'))
abr_last_name.show()

+-------------+
|abr last name|
+-------------+
|          Ing|
|          Hur|
|          Tra|
|          Fos|
|          Dun|
|          Ant|
|          Car|
|          Lip|
|          Sic|
|          Alt|
|          Ric|
|          Sci|
|          Ior|
|          Mog|
|          Jel|
|          Bur|
|          Fow|
|          Sch|
|          Cha|
|          Aug|
+-------------+
only showing top 20 rows

d
<b> What is the domain name of each employee's email address, so that their emails can be filtered and routed to the correct department?

In [0]:
# Write your code using the Spark Function
email_domain = df.select(split(col("email"),'@').getItem(1).alias("email_domain"))
email_domain.show()

+--------------------+
|        email_domain|
+--------------------+
|     livejournal.com|
|         answers.com|
|           imgur.com|
|     dagondesign.com|
|           google.de|
|          sfgate.com|
|scientificamerica...|
|           nifty.com|
|        facebook.com|
|         dropbox.com|
|           sogou.com|
|      craigslist.org|
|          cpanel.net|
|           bbc.co.uk|
|         histats.com|
|             php.net|
|        redcross.org|
|           desdev.cn|
|             unc.edu|
|              vk.com|
+--------------------+
only showing top 20 rows

d
<b> In an effort to protect their privacy, what is each employee's name spelled backwards?

In [0]:
# Write your code using the Spark Function
rev_first_name = df.select(reverse((concat(col("first_name"),col("last_name")))).alias('rev_name'))
rev_first_name.show()

+----------------+
|        rev_name|
+----------------+
|    yelgnIenelaV|
|   llruHellennyL|
|    niarTadnariM|
|      ssoFaesluD|
|   eelknuDlotanA|
|     ynotnAyliaB|
|    sudraCecinuE|
| tteppiLetterbuA|
|eromakciSallybiS|
|            null|
|       thciRpooC|
| inomicSeppesuiG|
|   ozziroIllevoL|
|        argoMbeD|
|namilleJsgnitsaH|
|     penruBeesoJ|
|     senwoFylliG|
|            null|
|  nialetahCsiraM|
|   eithguArepsaC|
+----------------+
only showing top 20 rows

d
<b> In order to make their email addresses harder to guess, what is each employee's email address spelled backwards?

In [0]:
# Write your code using the Spark Function
rev_email = df.select(reverse((col("email")).alias('rev_email')))
rev_email.show()

+---------------------------+
|reverse(email AS rev_email)|
+---------------------------+
|       moc.lanruojevil@0...|
|        moc.srewsna@1llruhl|
|          moc.rugmi@2niartm|
|       moc.ngisednogad@3...|
|        ed.elgoog@4eelknuda|
|        moc.etagfs@5ynotnab|
|       moc.naciremacifit...|
|        moc.ytfin@7tteppila|
|       moc.koobecaf@8ero...|
|       moc.xobpord@9eertlap|
|          moc.uogos@athcirc|
|       gro.tsilsgiarc@bi...|
|       ten.lenapc@cozziroil|
|          ku.oc.cbb@dargomd|
|       moc.statsih@enami...|
|           ten.php@fpenrubj|
|       gro.ssorcder@gsen...|
|       nc.vedsed@hsreyur...|
|        ude.cnu@inialetahcm|
|           moc.kv@jeithguac|
+---------------------------+
only showing top 20 rows

d
<b> What is each employee's first name, repeated twice, to improve personalization of emails and messages?

In [0]:
# Write your code using the Spark Function
rep_first_name = df.select(concat(col("first_name"),lit(" "),col("first_name")))
rep_first_name.show(5)

+---------------------------------+
|concat(first_name,  , first_name)|
+---------------------------------+
|                    Valene Valene|
|                Lynnelle Lynnelle|
|                  Miranda Miranda|
|                    Dulsea Dulsea|
|                    Anatol Anatol|
+---------------------------------+
only showing top 5 rows

d
<b> What is the country code of each employee's email domain, which can help identify global market opportunities?

In [0]:
# Write your code using the Spark Function
country_code_email = df.select(substring_index(col("email"),'.',-1).alias('country_code'))
country_code_email.show()

+------------+
|country_code|
+------------+
|         com|
|         com|
|         com|
|         com|
|          de|
|         com|
|         com|
|         com|
|         com|
|         com|
|         com|
|         org|
|         net|
|          uk|
|         com|
|         net|
|         org|
|          cn|
|         edu|
|         com|
+------------+
only showing top 20 rows

d
<b> What is the position of the first occurrence of a dot ('.') character in each employee's email address, which can be used to standardize email addresses in a database?

In [0]:
# Write your code using the Spark 
dot_pos = df.select(instr(col("email"),".").alias('dot_pos'))
dot_pos.show()

+-------+
|dot_pos|
+-------+
|     21|
|     16|
|     14|
|     19|
|     17|
|     16|
|     28|
|     16|
|     21|
|     17|
|     14|
|     21|
|     17|
|     12|
|     19|
|     13|
|     18|
|     19|
|     16|
|     13|
+-------+
only showing top 20 rows

d
<b> What is the full name and email address of each employee, concatenated with a space separator, for use in email communication?

In [0]:
# Write your code using the Spark Function
full_name = df.select(concat_ws(' ',col("first_name"),col("last_name"),col("email")).alias("details"))
full_name.show(truncate=False)

+---------------------------------------------+
|details                                      |
+---------------------------------------------+
|Valene Ingley vingley0@livejournal.com       |
|Lynnelle Hurll lhurll1@answers.com           |
|Miranda Train mtrain2@imgur.com              |
|Dulsea Foss dfoss3@dagondesign.com           |
|Anatol Dunklee adunklee4@google.de           |
|Baily Antony bantony5@sfgate.com             |
|Eunice Cardus ecardus6@scientificamerican.com|
|Aubrette Lippett alippett7@nifty.com         |
|Sibylla Sickamore ssickamore8@facebook.com   |
|Altree paltree9@dropbox.com                  |
|Coop Richt crichta@sogou.com                 |
|Giuseppe Scimoni gscimonib@craigslist.org    |
|Lovell Iorizzo liorizzoc@cpanel.net          |
|Deb Mogra dmograd@bbc.co.uk                  |
|Hastings Jelliman hjellimane@histats.com     |
|Josee Burnep jburnepf@php.net                |
|Gilly Fownes gfownesg@redcross.org           |
|Schruyers lschruyersh@desdev.cn              |
|Maris Chatelain mchatelaini@unc.edu          |
|Casper Aughtie caughtiej@vk.com              |
+---------------------------------------------+
only showing top 20 rows

d
<b> What is the first letter of each employee's first name in uppercase, followed by the rest of the name in lowercase, to ensure consistency and proper capitalization?

In [0]:
# Write your code using the Spark Function
init_first_name = df.select(initcap(col("first_name")).alias("First Name"))
init_first_name.show()

+----------+
|First Name|
+----------+
|    Valene|
|  Lynnelle|
|   Miranda|
|    Dulsea|
|    Anatol|
|     Baily|
|    Eunice|
|  Aubrette|
|   Sibylla|
|      null|
|      Coop|
|  Giuseppe|
|    Lovell|
|       Deb|
|  Hastings|
|     Josee|
|     Gilly|
|      null|
|     Maris|
|    Casper|
+----------+
only showing top 20 rows